<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="logImpl" value="SLF4J" />
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="boot.domain.order.Order" />
		<typeAlias alias="Employee" type="boot.domain.order.OrderStatus" />
	</typeAliases>

	<mappers>
		<!--order库-->
		<mapper resource="mybatis/ordermapper/OrderMapper.xml" />
		<!--account库-->
		<mapper resource="mybatis/paymapper/AccountMapper.xml" />
		<!--storage库-->
		<mapper resource="mybatis/storagemapper/ProductMapper.xml" />
	</mappers>
</configuration>
